<?xml version="1.0" encoding="utf-8" ?>
 <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       autoReload="true" internalLogLevel="info" 
       internalLogFile="internalLog.txt" 
       internalLogToConsole="true">
   <extensions>
     <add assembly="NLog.Web.AspNetCore" />
   </extensions>
   <!-- the targets to write to -->
   <targets>
	   <target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
		   <!-- dbProvider="MySqlConnector.MySqlConnection, MySqlConnector"
       connectionString="Server=13.234.120.62;Port=3306;Database=payrolldb;Uid=devuser;Pwd=Cpstl@123;SslMode=None">
       <commandtext>INSERT INTO payrolldb.SysLog (loggedDate, application, `level`, message) VALUES(@date, @app, @lvl, @msg)</commandtext>
       <parameter name="@date" layout="${date}" />
        <parameter name="@application" layout="${machinename}" />
		 <parameter name="@lvl" layout="${level}" />
       <parameter name="@msg" layout="${message}" />
-->

		   <connectionString>
			   Server=127.0.0.1;Database=payrolldb;port=3306;Uid=admin;Pwd=Pass#word1;SslMode=None;
		   </connectionString>
		   <commandText>
			   insert into payrolldb.SysLog (
			   loggedDate, application, `level`, message) values (
			   @date, @app, @lvl, @msg
			   );
		   </commandText>
		   <parameter name="@app" layout="CPSTL_PAYROLL_API" />
		   <parameter name="@date" layout="${date}" />
		   <parameter name="@lvl" layout="${level}" />
		   <parameter name="@msg" layout="${message}" />
	   </target>
   
	<!-- <target xsi:type="File" name="file" fileName="${basedir}/nlog-${date:format=yyyy-MM-dd}.log"
			layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
   -->
		</targets>
   
   <!-- rules to map from logger name to target -->
   <rules>
	   <!--<logger name="Microsoft.*" maxLevel="Info" final="true" />-->
		<logger name="*" minlevel="Warn" writeTo="database" />
	   <!-- <logger name="*" minlevel="Debug" writeTo="file" />-->
   </rules>
 </nlog> 